{% extends 'ts_training/base.html' %}
{% load nt_navbar %}
{% load nt_training_sessions %}
{% block title %}Upcoming Sessions{% endblock %}

{% block content %}
    <h1 class="text-center">Completed Training Sessions</h1>
	<div class="row mb-12">
		<div class="col-6">
			<a role="button" href="{% url 'ts_training:Plan' %}" class="btn btn-primary float-left"><i class="fa fa-fw fa-list"></i> View Upcoming Sessions</a>
		</div>
		{% if user.is_admin %}
			<div class="col-6">
				<a role="button" href="{% url 'ts_training:PlanNew' %}" class="btn btn-primary float-right"><i class="fa fa-fw fa-plus"></i> Add Completed Session</a>
			</div>
		{% endif %}
	</div>
	<br>
	<div class="row mb-4">
		<div class="col">
			{% if not sessions %}
				<p class="text-center text-muted"><i class="fa fa-info-circle fa-fw"></i> No completed training sessions.</p>
			{% else %}
				{% session_cards sessions %}
			{% endif %}
		</div>
	</div>

{% endblock %}